{% extends 'tasks/base.html' %}

{% block body %}
    <div class="center-column">

        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-info" type="submit" name="Create Task">
        </form>
        
        {% for task in tasks %}
            <div class="item-row">
                <a href="{% url 'update_task' task.id %}" class="btn btn-info">Update</a>
                <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
        
                {% if task.complete == True %}
                <strike>{{task}}</strike>
                {% else%}
                <span>{{task}}</span>
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}